@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
p {
    font-size:22px;
}
main {
    flex: 1 0 auto;
}